body,html {
	margin:0px;
	background:#001132;
	overflow:hidden;
	font:130% Arial;
	color:white;
	text-align:center;
}

h1 {
	color:#0558ff;
}

h4 {
	color:#820505;
	margin:0px;
	margin-top: 5%;
}

select {
	background:#001132;
	color:white;
	outline:none;
	border:3px solid #0558ff;
	font:70% Arial;
	margin:5px;
}
option {
	background:transparent;
}

#question {
	margin-top: 15%;
}
	
#input {
	display: inline-block;
	font:30px Arial;
	padding:2px;

	width:20%;
	background:transparent;
	border:3px solid #0558ff;
	outline:none;
	color:white;
	text-align:center;
}

button {
	margin-left:2px;
	display: inline-block;
	padding:2px;
	font:30px Arial;
	color:black;
	background:#0558ff;
	border:3px solid #0558ff;

}